.modal{
    background-color: var(--default-color);
    width: var(--large);
    padding: 2%;
}

.modal-body{
    
}

.modal-button{
    background-color: var(--default-color);
    height: 40px;
    border: 1px solid #000;
    color: #000;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.4s;
    width: 25%;
}

.modal-close{
    width: 5%;
}

.modal-default{
    overflow: hidden;
    background-color: var(--darkest-background);
    width: 100%;
    height: 100vh;
    display: flex;
}

.modal-footer{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: end;
}

.modal-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

.modal-title{
    width: 95%;
    text-align: center;
}