.file-manager-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.toolbar {
    background-color: #f5f5f5;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
    color: #555;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

.file-list {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 15px;
    align-content: start;
}

.file-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.1s;
    border: 1px solid transparent;
}

.file-item:hover {
    background-color: #e5f3ff;
    border-color: #cce8ff;
}

.file-icon {
    font-size: 42px;
    margin-bottom: 8px;
    filter: drop-shadow(0 2px 3px rgba(0,0,0,0.2));
}

/* Nome do arquivo */
.file-name {
    font-size: 12px;
    color: #333;
    word-break: break-word;
    line-height: 1.3;
    
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.file-meta {
    font-size: 10px;
    color: #888;
    margin-top: 2px;
}